<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>学生会报名</title>
<link rel="stylesheet" href="../static/css/check.css">
</head>
<body>

<div class="mainform">
    <h1>XX学院<br></h1>
    <h2>XX学院<br>
        学生会报名表
    </h2>
    <form method="post" action="Check.html">
    <div>姓名：<label>
        <input type="text" name ="Name" maxlength="4" required>
    </label></div>
    <div>学号：<label>
        <input type="text" name ="Number" maxlength="12" required>
    </label></div>
    <div>电话：<label>
        <input type="text" name ="Phone" maxlength="11" required>
    </label></div>
    <div>报名意向一: <label>
        <select name="career1">
        <option value="办公室1">办公室</option>
        <option value="创就部1">创就部</option>
        <option value="督导部1">督导部</option>
        <option value="青志协1">青志协</option>
        <option value="生活部1">生活部</option>
        <option value="体育部1">体育部</option>
        <option value="外联部1">外联部</option>
        <option value="文娱部1">文娱部</option>
        <option value="心理部1">心理部</option>
        <option value="学习部1">学习部</option>
        <option value="组织部1">组织部</option>
        <option value="传媒中心1">传媒中心</option></select>
    </label>
    </div>

    <div>报名意向二: <label>
        <select name="career2">
        <option value="办公室2">办公室</option>
        <option value="创就部2">创就部</option>
        <option value="督导部2">督导部</option>
        <option value="青志协2">青志协</option>
        <option value="生活部2">生活部</option>
        <option value="体育部2">体育部</option>
        <option value="外联部2">外联部</option>
        <option value="文娱部2">文娱部</option>
        <option value="心理部2">心理部</option>
        <option value="学习部2">学习部</option>
        <option value="组织部2">组织部</option>
        <option value="传媒中心2">传媒中心</option></select>
    </label>
    </div>
    <input type ="submit" value="提交" >
    </form>
</div>

</body>
</html>
